<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <p>Bienvenue sur le site de la Porsche 911. Pour en savoir plus sur l'histoire de cette voiture, <a href="/porsche-911">cliquez ici</a>.</p>
</body>
</html>